<div class="w3-bar w3-green">
	<a routerLink="/" routerLinkActive="w3-black" class="w3-bar-item w3-button">Home</a>
	<a routerLink="clients" routerLinkActive="w3-black" class="w3-bar-item w3-button">Clients</a>
	<a routerLink="groups" routerLinkActive="w3-black" class="w3-bar-item w3-button">Groups</a>
</div>
<div class="container w3-padding">
	<div class="w3-row">
		<div class="w3-col m4 l3">
			<h1 class="logo"><span>Client</span>Tracker</h1>
			<ul class="w3-ul w3-border">
				<li><a routerLink="/client/add">Add Client</a></li>
				<li><a routerLink="/group/add">Add Group</a></li>
			</ul>
		</div>
		<div class="w3-col m8 l9 w3-padding-16">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>